@import url('https://fonts.googleapis.com/css?family=Muli|Roboto:400,700|Ubuntu:400,500&display=swap');
body {
  margin: 0;
  font-size: 16;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
.app{
	padding: 10px;
}
.kanban{
	background: rgb(234, 248, 245);
	height: 90vh;
	display: grid;
	grid-auto-rows: 70px 1fr;
	-moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.64);
	box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.64);
	
	.kanban-title{
		display: flex;
		align-items: center;
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05);
		.board-name{
			font-family: 'Roboto';
			margin: 0 0 0 20px;
			font-size: 25px;
			font-Weight: 700;
		}
	}
	.board-columns{
		display: flex;
		transition: all ease-in 300ms;
		overflow-x: scroll;
	}
		
	.kanban-column{
		width: 300px;
		margin: 10px;
		border-radius: 4px;
		height: 70vh;
		overflow-y:auto;
		.column-title{
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 55px;
			padding: 5px;
			position: sticky;
			top:0px;
			z-index: 10;
			background: rgb(234, 248, 245);

			.option{
			padding:0 10px 12px 10px;
			align-items: center;
				font-family: "Ubuntu";
				font-size: 25px;
				color: #6b778c;
				border-radius: 3px;
				transition: 0.2s all ease-in;
			}
			.option:hover{
				background: #919396;
				color: #f3f4f5;
				cursor: pointer;
			}
		}
		.column-tasks{
			display: grid;
			grid-auto-flow: row;
			grid-gap: 10px;
			padding: 10px;
			justify-content: center;
		}
		.column-task:hover{
			background: rgba(255,255,255,0.8);
			box-shadow: 0 5px 10px 3px rgba(21,27,38,.15);
			transform: translateY(-2px);
		}
		.add-task:hover{
			color:rgb(149, 149, 206);
		}
	}
	
	#style-1::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
		border-radius: 10px;
		background-color: #F5F5F5;
	}

	#style-1::-webkit-scrollbar
	{
		width: 6px;
		background-color: #F5F5F5;
	}

	#style-1::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.05);
		background-color: #555a;
	}

}
